.projects {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  .grid {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    padding: 16px;
    p {
      font-size: 0.9rem !important;
    }
    .tech {
      width: 36px;
      height: 36px;
      background: #000;
      border-radius: 8px;
      padding: 6px;
    }
  }
}
