@import "../../styles/variables";

.landing {
  height: calc(100vh - 200px);
  .desc {
    color: $alternate-text-color;
  }
  .services {
    font-size: 1rem;
    background: $accent-light;
  }

  .brand-name {
    color: $secondary;
  }
}
