@import "../../styles/variables";
.header {
  .contact-us {
    border-color: $secondary;
    color: $secondary;
    background: rgba(131, 185, 255, 0.2);
    width: 160px;
  }
  img {
    width: 7rem;
    max-height: 30px;
  }
  a {
    text-decoration: none;
    color: $alternate-text-color;
    font-size: 1.1rem;
    margin: 0 16px;
  }
}
